.main-search-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}
.position_sticky{
  position: relative;
}
.productCard_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.productCard_items {
  border: 1px solid rgb(169, 169, 169);
  padding: 20px;
  border-radius: 10px;
}
.productCard_items img {
  width: 100%;
}
.search-area {
  border: 1px solid rgb(218, 218, 218);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
}
.search-result-area {
  position: sticky;
  top: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}


